* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  margin: 6px;
}

body,
html {
  height: 100%;
}

nav,
footer {
  width: 100%;
  background-color: #c4c4c4;
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-rows: 70px 100% 70px;
}

.background {
  background-image: url("images/gameboy\ games.webp");
  position: absolute;
  height: 100%;
  min-width: 428px;
  width: 100%;
  z-index: -1;
  opacity: 50%;
}

.gameboy {
  /* The image used */
  background-image: url("images/gameboyOriginalEdited.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 427px;
  position: relative;
  margin: 0 auto;
}

.screen {
  background-color: #A9D899;
  height: 200px;
  width: 221px;
  position: absolute;
  top: 96px;
  left: 102px;
  font-family: 'Press Start 2P', cursive;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  overflow: scroll;
}


.btn:hover {
  background-color: antiquewhite;
}

.red-button1 {
  position: absolute;
  top: 452px;
  left: 268px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: transparent;
}


.red-button2 {
  position: absolute;
  top: 421px;
  left: 336px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: transparent;
}

.arrow-button1 {
  position: absolute;
  top: 452px;
  left: 108px;
  height: 36px;
  width: 35px;
  background-color: transparent;
}

.arrow-button2 {
  position: absolute;
  top: 452px;
  left: 38px;
  height: 36px;
  width: 35px;
  background-color: transparent;
}

.arrow-button3 {
  position: absolute;
  top: 418px;
  left: 73px;
  height: 35px;
  width: 35px;
  background-color: transparent;
}

.arrow-button4 {
  position: absolute;
  top: 488px;
  left: 73px;
  height: 35px;
  width: 35px;
  background-color: transparent;
}

.grey-button1 {
  position: absolute;
  top: 559px;
  left: 124px;
  height: 23px;
  width: 61px;
  transform: rotate(-26deg);
  border-radius: 20px;
  background-color: transparent;
}

.grey-button2 {
  position: absolute;
  top: 560px;
  left: 195px;
  height: 23px;
  width: 62px;
  transform: rotate(-26deg);
  border-radius: 20px;
  background-color: transparent;

}

/* small tablets */
@media (min-width:481px) {
  .gameboy {
    background-image: url("images/greengameboycolor.png");
  }

  .screen {
    height: 210px;
    width: 232px;
    top: 57px;
    left: 98px;
  }

  .red-button1 {
    top: 446px;
    left: 262px;
    height: 50px;
    width: 50px;
  }

  .red-button2 {
    top: 421px;
    left: 337px;
    height: 50px;
    width: 50px;
  }

  .arrow-button1 {
    top: 443px;
    left: 113px;
    height: 35px;
    width: 35px;
  }

  .arrow-button2 {
    top: 443px;
    left: 43px;
    height: 35px;
    width: 35px;
  }

  .arrow-button3 {
    top: 409px;
    left: 78px;
    height: 35px;
    width: 35px;
  }

  .arrow-button4 {
    height: 35px;
    width: 35px;
    top: 479px;
    left: 78px;
  }

  .grey-button1 {
    top: 572px;
    left: 166px;
    height: 17px;
    width: 41px;
    transform: rotate(0deg);
  }

  .grey-button2 {
    top: 572px;
    left: 226px;
    height: 17px;
    width: 41px;
    transform: rotate(0deg);
  }
}

/* laptops, larger tablets */
@media (min-width:855px) {
  .gameboy {
    background-image: url("images/GameBoy\ Advanced2.png");
    height: 652px;
    width: 855px;
  }

  .screen {
    height: 234px;
    width: 357px;
    top: 193px;
    left: 248px;
    border-radius: 16px;
  }

  .arrow-button1 {
    top: 276px;
    left: 125px;
    height: 40px;
    width: 40px;
  }

  .arrow-button2 {
    top: 277px;
    left: 48px;
    height: 40px;
    width: 40px;
  }

  .arrow-button3 {
    top: 236px;
    left: 87px;
    height: 40px;
    width: 40px;
  }

  .arrow-button4 {
    height: 40px;
    width: 40px;
    top: 316px;
    left: 86px;
  }

  .red-button1 {
    top: 280px;
    left: 671px;
    height: 53px;
    width: 53px;
  }

  .red-button2 {
    top: 257px;
    left: 751px;
    height: 53px;
    width: 53px;
  }

  .grey-button1 {
    top: 396px;
    left: 159px;
    height: 22px;
    width: 22px;
    transform: rotate(0deg);
  }

  .grey-button2 {
    top: 445px;
    left: 157px;
    height: 22px;
    width: 22px;
    transform: rotate(0deg);
  }

}

/* desktop */